{% extends 'base.html.twig' %}

{% block title %}Liste des albums{% endblock %}

{% block body %}
<h1>Liste des albums</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Propriétaire</th>
            <th>Nombre de génériques</th>
        </tr>
    </thead>
    <tbody>
		{% for album in albums %}
        <tr>
            <td>{{ album.id }}</td>
            <td><a href="{{ path('album_show', {'id': album.id}) }}">{{ album.nom }}</a></td>
            <td>{{ album.member }}</td>
            <td>{{ album.generiques|length }}</td>
        </tr>
        {% endfor %} {# todos #}
    </tbody>
</table>

{% endblock %} {# body #}